<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Any Recipe Food for You">
  <meta name="dicoding:email" content="melvinaryadika@gmail.com">
  <link rel="icon" href="../public/favicon.png" type="image/ico">

 
  <title>Dashboard</title>
</head>
<body>
  <header class="app-bar">
      <div class="profil">
        <div class="icon-profil"></div>
        <div class="profil-name">Hallo, User</div>
      </div>

      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul class="nav-ul">
          <li class="menu-item"><a href="#/dashboard"><img class="icon1"><p>DASHBOARD</p></a></li>
          <li class="menu-item"><a href="#/resep"><img class="icon2"><p>RESEP</p></a></li>
          <li class="menu-item"><a href="#/pengukur" ><img class="icon3"><p>PENGUKUR</p></a></li>
          <li class="menu-item"><a href="https://nutrifuds.netlify.app/"><img class="icon4"><p>LOGOUT</p></a></li>
        </ul>
      </nav>
    </header>

    <main id="mainContent" class="content">
    </main>
</body>
</html>
