@import url("https://fonts.googleapis.com/css?family=Poppins:500,700,400");
*{
    font-family: Poppins;
}

.h1_pengukur{
    padding-top: 25px;
    text-align: center;
}
span{
    color: red;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 15px;
    width: 50%;
    background: #668F4D;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    align-items: center;
    color: white;
    align-items: center;
}
.p_pengukur{

    text-align: center;
}
.input_pengukur{
    outline: none;
    border: none;
    padding: 10px;
    margin-top: 10px;
    height: 20px ;
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
}
.button_pengukur{
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background: #668F4D;
    display: block;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.button_pengukur:hover{
    color:#668F4D;
    background: white;
}